$body-bg: #ffffff;
$body-color: #ffffff;

@import "node_modules/bootstrap/scss/bootstrap";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.sidebar-header > h3{
  font-size: 1.5rem;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #414246;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2d2d2d;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #7386D5;
  background: #ffffff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #7386D5;
  background: #ffffff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#content{
  width: 100%;
  padding : 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.logo{
  width: 77px;
  height: 63px;
}

/*
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}*/

/****************************************SCHEDULE CLASS FORM STARTS***********************************************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* padding: 10% 2%; */
}
.scheduleClassFormWrappper{

  width: 100%;
  //height: 100%;
  //position: inherit;
  ////noinspection CssUnknownTarget
  //background-image:  url("../images/ford.jpg");
  //background-size: cover;
  //background-repeat: no-repeat;
}
.scheduleCass-form{

  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  /* border-radius: 5px; */
  -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  display: table-cell;
}
.scheduleCass-form h2 {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
}
.scheduleCass-form label.label {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.9rem;
}

.nicLineStarts{
  padding-top: 10px;
}
.form-control{
  font-size: 13px;
}
.custom-file-label{
  font-size: 13px;
}
//noinspection CssUnknownTarget
.scheduleClassFormImage{
  background-image: url(../images/regImage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 29.1%;
  display: table-cell;
}
.card-wrapper{
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
  background-color: white;
}
.heading-section .subheading {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #fc983c;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}
h2,.h2 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-family: inherit;
}
.form-check-label {
  margin-bottom: 0;
  color: #000000;
}
//noinspection CssUnknownTarget
.badgeFormImage{
  background-image: url(../images/badge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 29.1%;
  display: table-cell;
}

.studentRegFormImage{
  background-image: url(../images/studReg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 45.1%;
  display: table-cell;
}

.lecturerRegFormImage{
  background-image: url(../images/lecturing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 45.1%;
  display: table-cell;
}
.timetablerRegFormImage{
  background-image: url(../images/timetabler.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 56.1%;
  display: table-cell;
}

.addCourseFormImage{
  background-image: url(../images/courses.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 56.1%;
  display: table-cell;
}
.addModuleFormImage{
  background-image: url(../images/module.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 29.1%;
  display: table-cell;
}

.addClassFormImage{
  background-image: url(../images/lecturerHall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 400px; */
  width: 56.1%;
  display: table-cell;
}